body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #808080;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #eee;
  text-decoration: none;
}

h3 {
  text-align: center;
}

#myheader {
  padding: 0.5em;
  text-align: center;
  color: #fff;
  background-color: #2cc9c1;
}

#myheader h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 10px;
  margin: 10px 0;
}

#stage {
  width: 610px;
  height: 610px;
  padding: 5px;
  margin: 30px auto;
  background-color: #f8f4f4;
}

#stage .animation {
  height: -webkit-fill-available;
  border: 1.5px dashed #c9c8c8;
}

#stage .animation #hero {
  width: 75px;
  height: 75px;
  border: 1.5px dashed #f00;
  left: 10px;
  top: 10px;
  position: relative;

  /*Step 1: 5 seconds once*/
  /*animation-name: move1;
  animation-duration: 5s;
  animation-iteration-count: 1;*/

  /*Step 2: 5 seconds repeatedly*/
  /*animation-iteration-count: infinite;*/

  /*Step 3: 2 seconds repeatedly*/
  /*animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;*/

  /*Step 4: 5 seconds repeatedly*/
  /*animation-direction: normal;
  animation-duration: 5s;
  animation-iteration-count: 1;*/

  /*Step 5-7: like the picture*/
  /*animation-name: move2;*/
  
  animation: move1 5s forwards, move1 5s 5s forwards infinite, move1 2s 20s forwards infinite alternate, 
             move1 5s 32s forwards infinite, move1 5s 42s forwards, move_down 2s 47s forwards;
}

@keyframes move1 {
  from {left: 10px;}
  to {left: 520px;}

  /*0% {top:10px;left:10px;}
  25% {top:10px;left:521;}*/
}

@keyframes move2 {
  from {left: 10px;}
  to {left: 520px;background: green;}
}

@keyframes move_down {
  from {top: 10px;}
  to {top: 200px;background: orange;}
}

#myfooter {
  padding: 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #148781;
}